<div class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-6 col-top">
                    <ul class="column-body list-unstyled fs-6 text-uppercase">
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>Contact Us</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>About Us</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>Social Media</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>Login</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-6 col-top">
                    <ul class="column-body list-unstyled fs-6 text-uppercase">
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>FAQ</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>Support</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>Report a Problem</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-decoration-none text-white" href="#">
                                <span>Home</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navigation End -->