<div id="menu">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand me-5" href="#">X</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link mx-4" href="#">X</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-4" href="#">X</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-4" href="#">X</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-4" href="#">X</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control h-25 rounded-5 me-2 ms-5" type="search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</div>
<!-- Navigation End -->